@import '../base/media-queries';
.btn {
    background: none;
    background-color: $primary;
    color: $white;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    font-family: $font2;
    &:hover {
        background-color: lighten($primary, $btn-hover-bg-shade-amount);
    }
    &--danger{
        background-color: $red;
        &:hover{
            background-color: lighten($red, $btn-hover-bg-shade-amount);
        }
    }
    &--success{
        background-color: $green;
        &:hover{
            background-color: lighten($green, $btn-hover-bg-shade-amount);
        }
    }
    &--info{
        background-color: $blue;
        &:hover{
            background-color: lighten($blue, $btn-hover-bg-shade-amount);
        }
    }
    &--warning{
        background-color: $yellow;
        &:hover{
            background-color: lighten($yellow, $btn-hover-bg-shade-amount);
        }
    }
    &--light{
        background-color: $light-gray;
        color: $white;
        &:hover{
            background-color: lighten($light-gray, $btn-hover-bg-shade-amount);
        }
    }
    &--dark{
        background-color: $dark-gray;
        &:hover{
            background-color: lighten($dark-gray, $btn-hover-bg-shade-amount);
        }
    }

    &--lg {
        font-size: rem(16);
        padding: 1em 5em;
    }
    &--md {
        font-size: rem(13);
        padding: 1em 4em;
    }
    &--sm {
        font-size: rem(10);
        padding: 1em 2em;
    }
    &--outline {
        color: $primary;
        border: solid;
        background: none;
        border-color: $primary;
        &:hover{
            color: $white;
            background-color: lighten($primary, $btn-hover-bg-shade-amount);
        }
    }
}
