*{
    box-sizing: border-box;
}

body{
    color: $primary;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font1;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font2;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h1 {
    line-height:1.35;
    font-style:normal;
    font-size: rem(30);
    margin:1.5em 0 0.8em;
}

h2 {
    font-weight:bold;
    font-size: rem(28);
    margin:1.5em 0 0.8em;
}

h3{
    font-weight:normal;
    font-size: rem(24);
    letter-spacing:0.1em;
    margin:1.5em 0 0.8em;
}

h4{
    font-weight:normal;
    font-size: rem(20);
    letter-spacing:0.1em;
    margin:1.5em 0 0.8em;
}

h5{
    font-weight:normal;
    font-size: rem(18);
    margin:1.5em 0 0.8em;
}

h6{
    font-weight:bold;
    font-size: rem(15);
    letter-spacing:0.1em;
    margin:1.5em 0 0.8em;
}

a{
    text-decoration: none;
    color: $secondary;
}

p {
    line-height: 1.5em;
    text-align:left;
    margin-top: 1.5rem;
    margin-bottom: 0;
}