body.admin-login{
    background-image: linear-gradient(to top,rgba(54,55,64,0.9),rgba(54,55,64,0.5)), url("/images/heroconnexion.jpg");
    background-position: left;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    .container__col-6{
        &.connexion-leading{

            height: 100vh;
            position: relative;
            text-align: center;

            .container-leading{
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .connexion-title{
                    text-align: center;
                    color: $white;
                }

                .logo{
                    width: 100%;
                }
            }
            small{
                color: $gray;
                position: absolute;
                bottom: 1%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }

        &.connexion-form{
            height: 100vh;
            background-color: $primary;
            position: relative;

            .container-form {
                border-radius: 8px;
                background: $white;
                padding: 20px;
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                form{
                    padding: 30px;
                    text-align: center;
                }

                .form-input {

                    a{
                        text-decoration: none;
                        color: $secondary;
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    input{
                        background: #FFFFFF;
                        border: 1px solid #00A2AC;
                        box-sizing: border-box;
                        border-radius: 10px;
                        width: 100%;
                        padding: 10px;
                    }

                    input[type=submit]{
                        background-color: $secondary;
                        color: $white;
                        border: none;

                        &:hover{
                        background-color: lighten($secondary, 10%);
                        }
                     }
                }
            }
        }
    }
}


