@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
body.admin-dashboard {
  background-color: $light-white;

  .nav-left {
    left: 0;
    top: 0;
    height: 100vh;
    background-color: $primary;
    color: $secondary;
    font-family: $font1;

    ul {
      padding: 0;
      margin: 0;

      .sidebar__li {
        list-style-type: none;
        padding-left : 18px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
          border-left: 5px solid #fff;
          background-color: $secondary;
          color: white;
        }

        a {
          display: block;
          width: 100%;
          padding: 8px 0 8px 0;
          text-decoration: none;
          color: $secondary;
          font-size: 3vh;


          i {
            padding: 0 24px 0 24px;
          }

          &:hover {
            color: $white;
          }
        }
        }

      .user-li{
        position: relative;
        .dropdown-content {
          display: none;
          left: 100%;
          z-index: 1;
          background-color: $primary;
          position: absolute;
          color: $secondary;
          padding-left : 5px;
          padding-right: 5px;
        }

        .dropdown-content a {
          display: block;
          color: $secondary;
        }
      }

      .user-li:hover .dropdown-content{
        display: block;
      }

      .dropdown-content a:hover{
        background-color: $secondary;
        color: $white;
      }

      #logo-li {
         text-align: center;
        #logo{
          width: 75%;
        }
       }


      &#logo-li:hover {
        background-color: inherit;
        border: none;
        right: 50%;
        left: 50%;
      }
    }
  }

  .content {
    padding-left: 2%;
    .nav-top {
      position: absolute;
      right: 0;
      top: 0;
      width: 40%;
      background-color: $primary;
      color: $secondary;
      font-family: $font1;
      border-bottom-left-radius: 45px;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        margin-bottom: 2%;

        li {
          display: inline-block;
          color: $secondary;



          a {
            width: 100%;
            text-decoration: none;
            color: $secondary;
            font-size: 18px;
            padding: 8px 0 8px 0;
            &:hover{
              opacity: 60%;
            }

            i {
              padding: 0 8px 0 8px;
            }
          }
        }
      }
    }

    h1{
      color: $secondary;
    }

    .content__dashboard {
      .container__col-4 {
        .module__count {
          .container__col-6 {
            text-align: center;
            background-color: $white;
            border: 1px solid #DFE0EB;
            border-radius: 10px;
            margin: 0.5%;
            h4{
              color: #9FA2B4;
            }

            h3 {
              font-weight: bold;
              color: $dark-gray;
            }
          }
        }

        .module__student {
          .container__col-12 {
            text-align: center;
            background-color: $white;
            border-radius: 10px;
            border: 1px solid #DFE0EB;
            margin: 0.5%;

            .graph-legend{
              ul{
                list-style: none;
              }
            }
          }

        }

        .module__traffic {
          .container__col-12 {
            text-align: center;
            margin: 0.5%;
          }
          svg{
            width: 100%;
          }
        }

        .module__navigator {
          .container__col-12 {
            text-align: center;

            h3{
              color: $secondary;
              text-align: left;
            }
            ul{
              text-align: left;
              list-style: none;
              li{
                color: $primary;
                font-weight: bold;
                margin-bottom: 1%;
              }
            }
          }
        }
      }
      .container__col-8{
        padding-left: 2%;
        margin-right: 1%;
        .module__calendar{
          svg{
            width: 100%;
          }
        }
        .module__event{
          .container__col-12 {
            .container__col-6{
              background-color: $white;
              border-radius: 10px;
              border: 1px solid #DFE0EB;
              box-shadow: 4px 4px 6px #EFEFEF;
              margin: 0.3%;
              padding-left: 1%;
              padding-top: 1%;
              font-style: normal;
              font-weight: bold;
              font-size: rem(16);
              line-height: 15px;

              .date-red{
                color: $white;
                background-color: $red;
                padding: 0.5%;
                border-radius: 5px;
                margin-left: 10%;
              }

              .case-red{
                display: inline;
                color: $red;
                font-weight: bold;
              }

              .date-blue{
                color: $white;
                background-color: $blue;
                padding: 0.5%;
                border-radius: 5px;
                margin-left: 10%;
              }

              .case-blue{
                display: inline;
                color: $blue;
                font-weight: bold;
              }

              .date-green{
                color: $white;
                background-color: $light-green;
                padding: 0.5%;
                border-radius: 5px;
                margin-left: 10%;
              }

              .case-green{
                display: inline;
                color: $light-green;
                font-weight: bold;
              }

              .date-yellow{
                color: $white;
                background-color: $yellow;
                padding: 0.5%;
                border-radius: 5px;
                margin-left: 10%;
              }

              .case-yellow{
                display: inline;
                color: $yellow;
                font-weight: bold;
              }



            }
            h3{
              color: $secondary;
               a{
                 color: $secondary;
               }
              a:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
